html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0%;
}
.navbar-page{
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
ul.navbar-page{
    background-color: #5CB8E4;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    padding-left: 0px;
}
a:link, a:visited{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #F2F2F2;
    font-family: tahoma;
}
a:hover{
    color: #181818;
}
li{
    font-size: 150%;
    display: inline-block;
}
h1{
    color: #F2F2F2;
    font-family: Helvetica;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 40px;
}
img{
    padding-left: 75px;
    width: 30%;
    float: left;
    padding-right: 20px;
    padding-bottom: 50px;
}
.quote{
    font-size: 29px;
    color: #F2F2F2;
    padding-right: 120px;
}
hr{
    width: 93%;
}

blockquote{
    font-family: tahoma;
    color: #F2F2F2;
    text-align: center;
    font-size: 17px;
}

h3.subhead{
    font-style: italic;
    text-align: center;
    font-family: helvetica;
    font-size: 33px;
    color: #F2F2F2;
    padding-top: 85px;
    padding-left: 10px;
}
h2{
    color: #F2F2F2;
    font-family: helvetica;
    font-size: 30px;
    padding-bottom: 50px;
}
.para-pengertian{
    color: #F2F2F2;
    font-family: Tahoma;
    font-size: 20px;
    text-align: center;
    margin: 0 15% 0 15%;
}
.img-pengertian{
    float: left;
    height: 300%;
    margin: 0px 20px 75px 20px;
    border-radius: 35%;
}
#button-pengertian{
    float: right;
    margin: 35px 250px 0 0;
    width: 250px;
    height: 100px;
    font-size: larger;
    border-radius: 20px;
    color: black;
    background-color: #F2F2F2;
    font-family: Tahoma;
    cursor: pointer;
}
.para-jenis{
    color: #F2F2F2;
    font-family: Tahoma;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
h3.header-list{
    font-style: italic;
    text-align: left;
    font-family: helvetica;
    font-size: 30px;
    color: #F2F2F2;
    padding-left: 50px;
}
p.content-programming{
    color: #F2F2F2;
    font-family: Tahoma;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 355px;
    font-size: 20px;
}
img.img-center{
    margin-top: 50px;
    float: right;
}
#p-tab-content{
    color: #F2F2F2;
    font-size: large;
    font-family: Tahoma;
    text-align: center;
    margin-top: 80px;
    margin-left: 25px;
}
img#img-alg{
    margin-top: 100px;
    width: 45%;
    margin-left: 350px;
    margin-right: 200px;
}
p.content-alg{
    font-size: 20px;
    padding-left: 55px;
    padding-right: 55px;
    color: #F2F2F2;
    font-family: Tahoma;
}
li.list-function{
    display: list-item;
    color: #F2F2F2;
    font-family: Tahoma;
    font-size: 20px;
}
.list{
    padding-left: 55px;
    padding-right: 55px;
}

.profile-picture{
    padding-top: 185px;
    padding-right: 120px;
    float: right;
    width: 30%;
    border-radius: 50%;
}

.header-profile h1{
    padding-top: 175px;
    padding-bottom: -100px;
    padding-left: 315px;
    float: left;
    font-style: italic;
    font-family: helvetica;
}

.header-profile p{
    padding: 305px 625px 0 190px;
    font-family: tahoma;
    color: #F2F2F2;
    text-align: center;
    font-size: 20px;
}

.social-media{
    padding-top: 35px;
    padding-left: 255px;
}

.container{
    margin-top: 200px;
}

.container h1{
    font-style: italic;
    font-family: helvetica;
}

.container p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 25%;
    resize: vertical
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: #181818;
    padding: 20px;
}

/*  */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.966);
    overflow-x: hidden;
    transition: 0.5s;
}
  
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/*  */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 23%;
    height: 308px;
    margin-left: 50px;
    margin-bottom: 100px;
    border-radius: 0 0 0 20px;
}
  
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: default;
}
  
.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: #ccc;
}
  
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 5px solid #ccc;
    width: 68%;
    border-left: none;
    height: 300px;
    display: none;
    border-radius: 0 20px 0 0;
}
/*  */
.collapsible {
    cursor: pointer;
    width: 50%;
    border: none;
    outline: none;
    margin-left: 250px;
    border-radius: 25%;
}

.content {
    font-family: tahoma;
    color: #F2F2F2;
    font-size: 22px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 50%;
    margin-left: 325px;
}